*{margin: 0;padding: 0;}
a{text-decoration: none; color: black;}
li{list-style: none;}
header{
    width: 100%;
    height: 160px;
    padding: 0 50px;
    box-sizing: border-box;
}
section{
    margin: 32px auto;
}
h1{
    width: 86px;
    height: 24px;
    margin-bottom: 30px;
}
.swiper-wrapper{
  width: 100%;
}
img{
  width: 100%;
}
.mlbLogo_gnb{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.icon{
    display: flex;
    margin-top: 30px;
}
.icon img{
    margin: 0 10px;
}
nav> ul{
    display: flex;
}
nav> ul>li>a{
    font-size:18px;
    font-weight: bold;
}
nav> ul>li{
    margin-right: 20px;
}
nav> ul>li>a:hover{
    border-bottom: 1px solid #ddd;
}

.bear{
    position: relative;
    margin-right: 30px;
}
.bear::after{
    position: absolute; 
    content: "";
    background: url(../mlb/img/mlb/mlb-megabear.svg);
    width: 20px;
    height: 20px;
    top:5px;
}
nav>ul>li>div{
    width: 100%;
    background-color: #fff;
    height: 300px;
    position: absolute;
    top:160px;
    left: 0;
    z-index: 999;
    display: none;
    padding: 20px 50px;
    box-sizing: border-box;
}
nav>ul>li:hover>div{
    display: block;
}
nav>ul>li>div>div{
    display: flex;
}
nav>ul>li>div>div>ul{
    margin-right: 30px;
}
.mainSlide .text{
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 10;
    color: #fff;
    transform: translateY(-50%);
}
.mainSlide .text h2{
    font-size: 30px;
    font-weight: bold;
}
.mainSlide .text p{
    font-size: 16px;
    margin-top: 20px;
   
}
.swiper-button-next, .swiper-button-prev {
    color: #fff;
}
.swiper-pagination-fraction {
    color: #fff;
}
.seasonpick{
    padding: 0 100px;
    box-sizing: border-box;
}
.seasonpick h4{
    font-size: 14px;

}
.seasonpick h2{
    font-size: 24px;
}
.tab_wrap{
    padding: 30px 0;
}
.tab_wrap > ul{
    display: flex;
}
.tab_wrap > ul li{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
}
.tab_wrap > ul li.active{
    background: #000;
  
}
.tab_wrap > ul li.active a{color: #fff;}
.tab_wrap > ul li a{}
.tab_content{
    margin-top: 50px;

}
.tab_content>div>div{
    display: flex;
}
.tab_content>div>div>.bigImg{
    width:30%;
    margin-right: 20px;
}
.tab_content>div>div>.smallImg{
    width:65%;
    display: flex;
}
.tab_content>div>div>ul>li{
    width: calc(100% / 4);
    height:auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tab_content>ul>li>img{}
.tab_content>ul>li>div{}
.tab_content>div>ul>li>div>img{
    width: 100%;
}
.tab_content>div>ul>li>.textBox{
    margin-top: 20px;
}
.tab_content>div>div>ul>li>.textBox>.title{
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.r{color: red;}
.tab_content>div>div>ul>li>.textBox>.price{
    font-size: 14px;
    font-weight: 700;
}
.tab_content>div>div>ul>li>.textBox>.color{
    margin: 20px 0;
}
.tab_content>div>div>ul>li>.textBox>.color>ul{
    display: flex;
}
.tab_content>div>div>ul>li>.textBox>.color>ul>li{
    margin-right: 5px;
}
.tab_content>div>div>ul>li>.textBox>.color>ul>li>a{
    display: block;
    border-radius: 50%;
}
.tab_content>div>div>ul>li>.textBox>.color>ul>li>a>span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.tab_content>div>div>ul>li>.textBox>.color>ul>li>a>.b{background-color: burlywood;}
.tab_content>div>div>ul>li>.textBox>.color>ul>li>a>.r{background-color: red;}
.tab_content>div>div>ul>li>.textBox>.color>ul>li>a>.n{background-color: rgb(0, 0, 95);}
.tab_content>div>div>ul>li>.textBox>.color>ul>li>a>.g{background-color: #333;}
.tab_content>.tab_item3 .smallImg>li>.shoesbg{background-color: rgb(248, 248, 248);}

.banner{
    padding: 100px;
    box-sizing: border-box;
    position: relative;
}
.text_banner{
    position: absolute;
    top: 250px;
    left: 200px;
    color: #fff;
}
.text_banner h2{font-size: 28px;}
.text_banner p{font-size: 16px;}
.swiper-pagination{
    bottom: 0;
}