/* Figma Styles of your File */
:root {
  /* Colors */
  --wwwnbkoreacom-alto: #d3d3d3;
  --wwwnbkoreacom-alto: #dbdbdb;
  --wwwnbkoreacom-cod-gray: #141414;
  --wwwnbkoreacom-emperor: #545454;
  --wwwnbkoreacom-mercury: #e5e5e5;
  --wwwnbkoreacom-gray: #898989;
  --wwwnbkoreacom-mine-shaft: #232323;
  --wwwnbkoreacom-monza: #cf0a2c;
  --wwwnbkoreacom-mine-shaft: #393939;
  --wwwnbkoreacom-silver: #cccccc;
  --wwwnbkoreacom-silver: #bdbdbd;
  --wwwnbkoreacom-silver-chalice: #aeaeae;
  --wwwnbkoreacom-silver-chalice: #acacac;
  --wwwnbkoreacom-tundora: #444444;
  --wwwnbkoreacom-white: #ffffff;
  --wwwmlb-koreacom-alabaster: #f8f8f8;
  --wwwmlb-koreacom-anakiwa: #aee0ff;
  --wwwmlb-koreacom-big-stone: #111c38;
  --wwwmlb-koreacom-black: #000000;
  --wwwmlb-koreacom-black-87: rgba(0, 0, 0, 0.87);
  --wwwmlb-koreacom-black-24: rgba(0, 0, 0, 0.24);
  --wwwmlb-koreacom-blue-ribbon: #0d54f3;
  --wwwmlb-koreacom-boulder: #787878;
  --wwwmlb-koreacom-crown-of-thorns: #781d1d;
  --wwwmlb-koreacom-dusty-gray: #949494;
  --wwwmlb-koreacom-emperor: #505050;
  --wwwmlb-koreacom-half-colonial-white: #fdf4da;
  --wwwmlb-koreacom-jade: #00a977;
  --wwwmlb-koreacom-kournikova: #ffe071;
  --wwwmlb-koreacom-lily: #c3a0ac;
  --wwwmlb-koreacom-lynch: #7181a4;
  --wwwmlb-koreacom-mandy: #db4455;
  --wwwmlb-koreacom-mercury: #e8e8e8;
  --wwwmlb-koreacom-mercury: #e8e8e8;
  --wwwmlb-koreacom-mine-shaft: #333333;
  --wwwmlb-koreacom-oslo-gray: #949899;
  --wwwmlb-koreacom-pale-sky: #787878;
  --wwwmlb-koreacom-pickled-bean: #653a22;
  --wwwmlb-koreacom-mongoose: #b9967a;
  --wwwmlb-koreacom-pink: #ffb9c3;
  --wwwmlb-koreacom-pomegranate: #ed3c2a;
  --wwwmlb-koreacom-science-blue: #0069d2;
  --wwwmlb-koreacom-sorrell-brown: #d1b797;
  --wwwmlb-koreacom-thunderbird: #c7171e;
  --wwwmlb-koreacom-wax-flower: #ffc3a9;
  --wwwmlb-koreacom-white-02: rgba(255, 255, 255, 0);
  --wwwmlb-koreacom-willow-grove: #65765c;
  --wwwmlb-koreacom-woodsmoke: #14161a;

  /* Fonts */
  --wwwnbkoreacom-semantic-heading-3-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-semantic-heading-3-font-size: 22.125px;
  --wwwnbkoreacom-semantic-heading-3-line-height: 36px;
  --wwwnbkoreacom-semantic-heading-3-font-weight: 800;
  --wwwnbkoreacom-semantic-heading-3-font-style: normal;
  --wwwnbkoreacom-semantic-heading-3-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-semantic-heading-3-font-size: 22.6875px;
  --wwwnbkoreacom-semantic-heading-3-line-height: 36px;
  --wwwnbkoreacom-semantic-heading-3-font-weight: 800;
  --wwwnbkoreacom-semantic-heading-3-font-style: normal;
  --wwwnbkoreacom-semantic-heading-3-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-semantic-heading-3-font-size: 35.015625px;
  --wwwnbkoreacom-semantic-heading-3-line-height: 36px;
  --wwwnbkoreacom-semantic-heading-3-font-weight: 800;
  --wwwnbkoreacom-semantic-heading-3-font-style: normal;
  --wwwnbkoreacom-semantic-heading-3-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-semantic-heading-3-font-size: 36px;
  --wwwnbkoreacom-semantic-heading-3-line-height: 36px;
  --wwwnbkoreacom-semantic-heading-3-font-weight: 800;
  --wwwnbkoreacom-semantic-heading-3-font-style: normal;
  --wwwnbkoreacom-semantic-heading-3-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-semantic-heading-3-font-size: 36.28125px;
  --wwwnbkoreacom-semantic-heading-3-line-height: 54px;
  --wwwnbkoreacom-semantic-heading-3-font-weight: 800;
  --wwwnbkoreacom-semantic-heading-3-font-style: normal;
  --wwwnbkoreacom-semantic-heading-3-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-semantic-heading-3-font-size: 37.23046875px;
  --wwwnbkoreacom-semantic-heading-3-line-height: 54px;
  --wwwnbkoreacom-semantic-heading-3-font-weight: 800;
  --wwwnbkoreacom-semantic-heading-3-font-style: normal;
  --wwwnbkoreacom-semantic-heading-3-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-semantic-heading-3-font-size: 39.375px;
  --wwwnbkoreacom-semantic-heading-3-line-height: 44px;
  --wwwnbkoreacom-semantic-heading-3-font-weight: 800;
  --wwwnbkoreacom-semantic-heading-3-font-style: normal;
  --wwwnbkoreacom-semantic-heading-3-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-semantic-heading-3-font-size: 41.015625px;
  --wwwnbkoreacom-semantic-heading-3-line-height: 44px;
  --wwwnbkoreacom-semantic-heading-3-font-weight: 800;
  --wwwnbkoreacom-semantic-heading-3-font-style: normal;
  --wwwnbkoreacom-semantic-item-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-item-font-size: 18px;
  --wwwnbkoreacom-semantic-item-line-height: 36px;
  --wwwnbkoreacom-semantic-item-font-weight: 400;
  --wwwnbkoreacom-semantic-item-font-style: normal;
  --wwwnbkoreacom-semantic-item-font-family: NotoSansKr-ExtraBold, sans-serif;
  --wwwnbkoreacom-semantic-item-font-size: 39.703125px;
  --wwwnbkoreacom-semantic-item-line-height: 50.4px;
  --wwwnbkoreacom-semantic-item-font-weight: 800;
  --wwwnbkoreacom-semantic-item-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 10.65625px;
  --wwwnbkoreacom-semantic-link-line-height: 19px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 10.828125px;
  --wwwnbkoreacom-semantic-link-line-height: 19px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 12.25px;
  --wwwnbkoreacom-semantic-link-line-height: 14px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 12.6875px;
  --wwwnbkoreacom-semantic-link-line-height: 14px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 12.90625px;
  --wwwnbkoreacom-semantic-link-line-height: 24px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 13px;
  --wwwnbkoreacom-semantic-link-line-height: 13px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 13.5625px;
  --wwwnbkoreacom-semantic-link-line-height: 14px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 13.78125px;
  --wwwnbkoreacom-semantic-link-line-height: 14px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 14px;
  --wwwnbkoreacom-semantic-link-line-height: 14px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 14px;
  --wwwnbkoreacom-semantic-link-line-height: 24px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 14px;
  --wwwnbkoreacom-semantic-link-line-height: 14px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 14px;
  --wwwnbkoreacom-semantic-link-line-height: 24px;
  --wwwnbkoreacom-semantic-link-font-weight: 700;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 14.75px;
  --wwwnbkoreacom-semantic-link-line-height: 16px;
  --wwwnbkoreacom-semantic-link-font-weight: 700;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 15.375px;
  --wwwnbkoreacom-semantic-link-line-height: 24px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 15.375px;
  --wwwnbkoreacom-semantic-link-line-height: 16px;
  --wwwnbkoreacom-semantic-link-font-weight: 700;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 15.75px;
  --wwwnbkoreacom-semantic-link-line-height: 24px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 15.875px;
  --wwwnbkoreacom-semantic-link-line-height: 24px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 16px;
  --wwwnbkoreacom-semantic-link-line-height: 16px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 16px;
  --wwwnbkoreacom-semantic-link-line-height: 24px;
  --wwwnbkoreacom-semantic-link-font-weight: 400;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 16px;
  --wwwnbkoreacom-semantic-link-line-height: normal;
  --wwwnbkoreacom-semantic-link-font-weight: 700;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 16px;
  --wwwnbkoreacom-semantic-link-line-height: 16px;
  --wwwnbkoreacom-semantic-link-font-weight: 700;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-link-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-link-font-size: 24px;
  --wwwnbkoreacom-semantic-link-line-height: normal;
  --wwwnbkoreacom-semantic-link-font-weight: 700;
  --wwwnbkoreacom-semantic-link-font-style: normal;
  --wwwnbkoreacom-semantic-strong-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-strong-font-size: 13.5625px;
  --wwwnbkoreacom-semantic-strong-line-height: 14px;
  --wwwnbkoreacom-semantic-strong-font-weight: 400;
  --wwwnbkoreacom-semantic-strong-font-style: normal;
  --wwwnbkoreacom-semantic-strong-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-strong-font-size: 13.671875px;
  --wwwnbkoreacom-semantic-strong-line-height: 14px;
  --wwwnbkoreacom-semantic-strong-font-weight: 400;
  --wwwnbkoreacom-semantic-strong-font-style: normal;
  --wwwnbkoreacom-semantic-strong-font-family: NotoSansKr-Regular, sans-serif;
  --wwwnbkoreacom-semantic-strong-font-size: 13.78125px;
  --wwwnbkoreacom-semantic-strong-line-height: 14px;
  --wwwnbkoreacom-semantic-strong-font-weight: 400;
  --wwwnbkoreacom-semantic-strong-font-style: normal;
  --wwwnbkoreacom-semantic-strong-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-strong-font-size: 17.296875px;
  --wwwnbkoreacom-semantic-strong-line-height: normal;
  --wwwnbkoreacom-semantic-strong-font-weight: 700;
  --wwwnbkoreacom-semantic-strong-font-style: normal;
  --wwwnbkoreacom-semantic-strong-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-strong-font-size: 18px;
  --wwwnbkoreacom-semantic-strong-line-height: normal;
  --wwwnbkoreacom-semantic-strong-font-weight: 700;
  --wwwnbkoreacom-semantic-strong-font-style: normal;
  --wwwnbkoreacom-semantic-strong-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-strong-font-size: 19.21875px;
  --wwwnbkoreacom-semantic-strong-line-height: 20px;
  --wwwnbkoreacom-semantic-strong-font-weight: 700;
  --wwwnbkoreacom-semantic-strong-font-style: normal;
  --wwwnbkoreacom-semantic-strong-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-strong-font-size: 19.6875px;
  --wwwnbkoreacom-semantic-strong-line-height: 20px;
  --wwwnbkoreacom-semantic-strong-font-weight: 700;
  --wwwnbkoreacom-semantic-strong-font-style: normal;
  --wwwnbkoreacom-semantic-strong-font-family: NotoSansKr-Bold, sans-serif;
  --wwwnbkoreacom-semantic-strong-font-size: 19.84375px;
  --wwwnbkoreacom-semantic-strong-line-height: 20px;
  --wwwnbkoreacom-semantic-strong-font-weight: 700;
  --wwwnbkoreacom-semantic-strong-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-regular-font-family: NotoSansKr-Regular,
    sans-serif;
  --wwwnbkoreacom-noto-sans-kr-regular-font-size: 18px;
  --wwwnbkoreacom-noto-sans-kr-regular-line-height: normal;
  --wwwnbkoreacom-noto-sans-kr-regular-font-weight: 400;
  --wwwnbkoreacom-noto-sans-kr-regular-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-extrabold-font-family: NotoSansKr-ExtraBold,
    sans-serif;
  --wwwnbkoreacom-noto-sans-kr-extrabold-font-size: 41.5078125px;
  --wwwnbkoreacom-noto-sans-kr-extrabold-line-height: 50.4px;
  --wwwnbkoreacom-noto-sans-kr-extrabold-font-weight: 800;
  --wwwnbkoreacom-noto-sans-kr-extrabold-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-light-font-family: NotoSansKr-Light, sans-serif;
  --wwwnbkoreacom-noto-sans-kr-light-font-size: 13.453125px;
  --wwwnbkoreacom-noto-sans-kr-light-line-height: 24px;
  --wwwnbkoreacom-noto-sans-kr-light-font-weight: 300;
  --wwwnbkoreacom-noto-sans-kr-light-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-light-font-family: NotoSansKr-Light, sans-serif;
  --wwwnbkoreacom-noto-sans-kr-light-font-size: 13.5625px;
  --wwwnbkoreacom-noto-sans-kr-light-line-height: 24px;
  --wwwnbkoreacom-noto-sans-kr-light-font-weight: 300;
  --wwwnbkoreacom-noto-sans-kr-light-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-light-font-family: NotoSansKr-Light, sans-serif;
  --wwwnbkoreacom-noto-sans-kr-light-font-size: 14px;
  --wwwnbkoreacom-noto-sans-kr-light-line-height: 24px;
  --wwwnbkoreacom-noto-sans-kr-light-font-weight: 300;
  --wwwnbkoreacom-noto-sans-kr-light-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-light-font-family: NotoSansKr-Light, sans-serif;
  --wwwnbkoreacom-noto-sans-kr-light-font-size: 14px;
  --wwwnbkoreacom-noto-sans-kr-light-line-height: 21px;
  --wwwnbkoreacom-noto-sans-kr-light-font-weight: 300;
  --wwwnbkoreacom-noto-sans-kr-light-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-regular-font-family: NotoSansKr-Regular,
    sans-serif;
  --wwwnbkoreacom-noto-sans-kr-regular-font-size: 16.734375px;
  --wwwnbkoreacom-noto-sans-kr-regular-line-height: normal;
  --wwwnbkoreacom-noto-sans-kr-regular-font-weight: 400;
  --wwwnbkoreacom-noto-sans-kr-regular-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-regular-font-family: NotoSansKr-Regular,
    sans-serif;
  --wwwnbkoreacom-noto-sans-kr-regular-font-size: 17px;
  --wwwnbkoreacom-noto-sans-kr-regular-line-height: normal;
  --wwwnbkoreacom-noto-sans-kr-regular-font-weight: 400;
  --wwwnbkoreacom-noto-sans-kr-regular-font-style: normal;
  --wwwnbkoreacom-noto-sans-kr-regular-font-family: NotoSansKr-Regular,
    sans-serif;
  --wwwnbkoreacom-noto-sans-kr-regular-font-size: 18px;
  --wwwnbkoreacom-noto-sans-kr-regular-line-height: 36px;
  --wwwnbkoreacom-noto-sans-kr-regular-font-weight: 400;
  --wwwnbkoreacom-noto-sans-kr-regular-font-style: normal;
  --wwwmlb-koreacom-semantic-button-font-family: Pretendard-Regular, sans-serif;
  --wwwmlb-koreacom-semantic-button-font-size: 16px;
  --wwwmlb-koreacom-semantic-button-line-height: 24px;
  --wwwmlb-koreacom-semantic-button-font-weight: 400;
  --wwwmlb-koreacom-semantic-button-font-style: normal;
  --wwwmlb-koreacom-semantic-button-font-family: Pretendard-Bold, sans-serif;
  --wwwmlb-koreacom-semantic-button-font-size: 16px;
  --wwwmlb-koreacom-semantic-button-line-height: 24px;
  --wwwmlb-koreacom-semantic-button-font-weight: 700;
  --wwwmlb-koreacom-semantic-button-font-style: normal;
  --wwwmlb-koreacom-semantic-button-upper-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-semantic-button-upper-font-size: 12px;
  --wwwmlb-koreacom-semantic-button-upper-line-height: 18px;
  --wwwmlb-koreacom-semantic-button-upper-font-weight: 400;
  --wwwmlb-koreacom-semantic-button-upper-font-style: normal;
  --wwwmlb-koreacom-semantic-button-upper-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-semantic-button-upper-font-size: 14px;
  --wwwmlb-koreacom-semantic-button-upper-line-height: 18px;
  --wwwmlb-koreacom-semantic-button-upper-font-weight: 400;
  --wwwmlb-koreacom-semantic-button-upper-font-style: normal;
  --wwwmlb-koreacom-semantic-button-upper-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-semantic-button-upper-font-size: 14px;
  --wwwmlb-koreacom-semantic-button-upper-line-height: 20px;
  --wwwmlb-koreacom-semantic-button-upper-font-weight: 400;
  --wwwmlb-koreacom-semantic-button-upper-font-style: normal;
  --wwwmlb-koreacom-semantic-button-upper-font-family: Pretendard-Bold,
    sans-serif;
  --wwwmlb-koreacom-semantic-button-upper-font-size: 14px;
  --wwwmlb-koreacom-semantic-button-upper-line-height: 18px;
  --wwwmlb-koreacom-semantic-button-upper-font-weight: 700;
  --wwwmlb-koreacom-semantic-button-upper-font-style: normal;
  --wwwmlb-koreacom-semantic-link-font-family: Pretendard-Regular, sans-serif;
  --wwwmlb-koreacom-semantic-link-font-size: 12px;
  --wwwmlb-koreacom-semantic-link-line-height: 18px;
  --wwwmlb-koreacom-semantic-link-font-weight: 400;
  --wwwmlb-koreacom-semantic-link-font-style: normal;
  --wwwmlb-koreacom-semantic-link-font-family: Pretendard-Regular, sans-serif;
  --wwwmlb-koreacom-semantic-link-font-size: 14px;
  --wwwmlb-koreacom-semantic-link-line-height: 20px;
  --wwwmlb-koreacom-semantic-link-font-weight: 400;
  --wwwmlb-koreacom-semantic-link-font-style: normal;
  --wwwmlb-koreacom-semantic-link-font-family: Pretendard-Regular, sans-serif;
  --wwwmlb-koreacom-semantic-link-font-size: 16px;
  --wwwmlb-koreacom-semantic-link-line-height: 24px;
  --wwwmlb-koreacom-semantic-link-font-weight: 400;
  --wwwmlb-koreacom-semantic-link-font-style: normal;
  --wwwmlb-koreacom-semantic-link-font-family: Pretendard-Medium, sans-serif;
  --wwwmlb-koreacom-semantic-link-font-size: 16px;
  --wwwmlb-koreacom-semantic-link-line-height: 24px;
  --wwwmlb-koreacom-semantic-link-font-weight: 500;
  --wwwmlb-koreacom-semantic-link-font-style: normal;
  --wwwmlb-koreacom-semantic-link-font-family: Pretendard-Bold, sans-serif;
  --wwwmlb-koreacom-semantic-link-font-size: 16px;
  --wwwmlb-koreacom-semantic-link-line-height: 24px;
  --wwwmlb-koreacom-semantic-link-font-weight: 700;
  --wwwmlb-koreacom-semantic-link-font-style: normal;
  --wwwmlb-koreacom-semantic-link-font-family: Pretendard-Medium, sans-serif;
  --wwwmlb-koreacom-semantic-link-font-size: 18px;
  --wwwmlb-koreacom-semantic-link-line-height: 26px;
  --wwwmlb-koreacom-semantic-link-font-weight: 500;
  --wwwmlb-koreacom-semantic-link-font-style: normal;
  --wwwmlb-koreacom-semantic-link-font-family: Pretendard-Bold, sans-serif;
  --wwwmlb-koreacom-semantic-link-font-size: 18px;
  --wwwmlb-koreacom-semantic-link-line-height: 26px;
  --wwwmlb-koreacom-semantic-link-font-weight: 700;
  --wwwmlb-koreacom-semantic-link-font-style: normal;
  --wwwmlb-koreacom-semantic-link-strikethrough-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-semantic-link-strikethrough-font-size: 12px;
  --wwwmlb-koreacom-semantic-link-strikethrough-line-height: 24px;
  --wwwmlb-koreacom-semantic-link-strikethrough-font-weight: 400;
  --wwwmlb-koreacom-semantic-link-strikethrough-font-style: normal;
  --wwwmlb-koreacom-semantic-link-upper-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-semantic-link-upper-font-size: 14px;
  --wwwmlb-koreacom-semantic-link-upper-line-height: 20px;
  --wwwmlb-koreacom-semantic-link-upper-font-weight: 400;
  --wwwmlb-koreacom-semantic-link-upper-font-style: normal;
  --wwwmlb-koreacom-pretendard-bold-font-family: Pretendard-Bold, sans-serif;
  --wwwmlb-koreacom-pretendard-bold-font-size: 16px;
  --wwwmlb-koreacom-pretendard-bold-line-height: 24px;
  --wwwmlb-koreacom-pretendard-bold-font-weight: 700;
  --wwwmlb-koreacom-pretendard-bold-font-style: normal;
  --wwwmlb-koreacom-pretendard-bold-font-family: Pretendard-Bold, sans-serif;
  --wwwmlb-koreacom-pretendard-bold-font-size: 36px;
  --wwwmlb-koreacom-pretendard-bold-line-height: 51.99px;
  --wwwmlb-koreacom-pretendard-bold-font-weight: 700;
  --wwwmlb-koreacom-pretendard-bold-font-style: normal;
  --wwwmlb-koreacom-pretendard-bold-font-family: Pretendard-Bold, sans-serif;
  --wwwmlb-koreacom-pretendard-bold-font-size: 48px;
  --wwwmlb-koreacom-pretendard-bold-line-height: 72px;
  --wwwmlb-koreacom-pretendard-bold-font-weight: 700;
  --wwwmlb-koreacom-pretendard-bold-font-style: normal;
  --wwwmlb-koreacom-pretendard-bold-font-family: Pretendard-Bold, sans-serif;
  --wwwmlb-koreacom-pretendard-bold-font-size: 56px;
  --wwwmlb-koreacom-pretendard-bold-line-height: 79.99px;
  --wwwmlb-koreacom-pretendard-bold-font-weight: 700;
  --wwwmlb-koreacom-pretendard-bold-font-style: normal;
  --wwwmlb-koreacom-pretendard-medium-font-family: Pretendard-Medium, sans-serif;
  --wwwmlb-koreacom-pretendard-medium-font-size: 16px;
  --wwwmlb-koreacom-pretendard-medium-line-height: 24px;
  --wwwmlb-koreacom-pretendard-medium-font-weight: 500;
  --wwwmlb-koreacom-pretendard-medium-font-style: normal;
  --wwwmlb-koreacom-pretendard-regular-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-pretendard-regular-font-size: 12px;
  --wwwmlb-koreacom-pretendard-regular-line-height: 18px;
  --wwwmlb-koreacom-pretendard-regular-font-weight: 400;
  --wwwmlb-koreacom-pretendard-regular-font-style: normal;
  --wwwmlb-koreacom-pretendard-regular-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-pretendard-regular-font-size: 13px;
  --wwwmlb-koreacom-pretendard-regular-line-height: 18px;
  --wwwmlb-koreacom-pretendard-regular-font-weight: 400;
  --wwwmlb-koreacom-pretendard-regular-font-style: normal;
  --wwwmlb-koreacom-pretendard-regular-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-pretendard-regular-font-size: 14px;
  --wwwmlb-koreacom-pretendard-regular-line-height: 14px;
  --wwwmlb-koreacom-pretendard-regular-font-weight: 400;
  --wwwmlb-koreacom-pretendard-regular-font-style: normal;
  --wwwmlb-koreacom-pretendard-regular-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-pretendard-regular-font-size: 14px;
  --wwwmlb-koreacom-pretendard-regular-line-height: 20px;
  --wwwmlb-koreacom-pretendard-regular-font-weight: 400;
  --wwwmlb-koreacom-pretendard-regular-font-style: normal;
  --wwwmlb-koreacom-pretendard-regular-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-pretendard-regular-font-size: 16px;
  --wwwmlb-koreacom-pretendard-regular-line-height: 27.99px;
  --wwwmlb-koreacom-pretendard-regular-font-weight: 400;
  --wwwmlb-koreacom-pretendard-regular-font-style: normal;
  --wwwmlb-koreacom-pretendard-regular-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-pretendard-regular-font-size: 20px;
  --wwwmlb-koreacom-pretendard-regular-line-height: 28px;
  --wwwmlb-koreacom-pretendard-regular-font-weight: 400;
  --wwwmlb-koreacom-pretendard-regular-font-style: normal;
  --wwwmlb-koreacom-pretendard-regular-font-family: Pretendard-Regular,
    sans-serif;
  --wwwmlb-koreacom-pretendard-regular-font-size: 36px;
  --wwwmlb-koreacom-pretendard-regular-line-height: 52px;
  --wwwmlb-koreacom-pretendard-regular-font-weight: 400;
  --wwwmlb-koreacom-pretendard-regular-font-style: normal;
  --wwwmlb-koreacom-pretendard-bold-font-family: Pretendard-Bold, sans-serif;
  --wwwmlb-koreacom-pretendard-bold-font-size: 12px;
  --wwwmlb-koreacom-pretendard-bold-line-height: 18px;
  --wwwmlb-koreacom-pretendard-bold-font-weight: 700;
  --wwwmlb-koreacom-pretendard-bold-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-wwwnbkoreacom-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-grey-8: #141414;
  --color-grey-54: #898989;
  --color-grey-14: #232323;
  --color-grey-22: #393939;
  --color-grey-83: #d3d3d3;
  --color-grey-74: #bdbdbd;
  --color-grey-68: #aeaeae;
  --color-grey-67: #acacac;
  --color-grey-33: #545454;
  --color-grey-90: #e5e5e5;
  --color-grey-80: #cccccc;
  --color-grey-27: #444444;
  --color-red-43: #cf0a2c;
  --color-grey-86: #dbdbdb;
}

:root,
[data-wwwmlb-koreacom-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-black-solid: #000000;
  --color-grey-91: #e8e8e8;
  --color-grey-47: #787878;
  --color-black-24: rgba(0, 0, 0, 0.24);
  --color-grey-97: #f8f8f8;
  --color-red-56: #db4455;
  --color-orange-71: #d1b797;
  --color-red-55: #ed3c2a;
  --color-azure-14: #111c38;
  --color-grey-20: #333333;
  --color-black-0: rgba(0, 0, 0, 0);
  --color-orange-60: #b9967a;
  --color-orange-83: #ffc3a9;
  --color-spring-green-33: #00a977;
  --color-red-86: #ffb9c3;
  --color-grey-59: #949899;
  --color-red-29: #781d1d;
  --color-orange-26: #653a22;
  --color-grey-92: #fdf4da;
  --color-azure-84: #aee0ff;
  --color-azure-41: #0069d2;
  --color-chartreuse-green-41: #65765c;
  --color-azure-54: #7181a4;
  --color-yellow-72: #ffe071;
  --color-rose-70: #c3a0ac;
  --color-black-21: rgba(0, 0, 0, 0.21);
  --color-azure-50: #0d54f3;
  --color-grey-58: #949494;
  --color-azure-9: #14161a;
  --color-grey-83: #d3d3d3;
  --color-black-14: rgba(0, 0, 0, 0.14);
  --color-red-44: #c7171e;
  --color-grey-31: #505050;
  --color-black-87: rgba(0, 0, 0, 0.87);
  --color-white-02: rgba(255, 255, 255, 0);
}
