*{margin: 0; padding: 0; box-sizing: border-box;}
body{color: #fff;}
a{
    text-decoration: none; 
    font-family: 'RiaSans', sans-serif;
    font-weight: bold;
    cursor: url('../img/클릭.png'), auto;
}
.main{z-index: 1;}
.computer{
    position: relative;
    top: 50%;
    left: 26%;
    width: 900px;
    z-index: 1;
}
.main_title{
    position: absolute;
    top: 23%;
    left: 10%;
    z-index: 1;
}
.main_txt{
    position: absolute;
    top: 38%;
    left: 11%;
    width: 400px;
    z-index: 1;
}
.main p{
    color: #5E1EEA;
    background: #ADFF2F;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    line-height: 200%;
    text-align: center;
    font-family: 'HSSanTokki20-Regular';
    z-index: 1;
}
.main a{
    font-family: 'RiaSans-ExtraBold';
    font-size: 30px;
    color: #fff;
    z-index: 1;
}
.arrow{
    width: 50px;
    z-index: 1;
}
.talk{
    position: absolute;
    top: 60%;
    margin-left: 200px;
    z-index: 1;
}
.talk1{margin-bottom: 30px;}
.main_bg{
    width: 85%;
    position: absolute;
    top: 150px;
    left: 7%;
}
.circle{
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 11%;
}
.bubble{
    position: absolute;
    top: 30%;
    right: 12%;
    width: 700px;
}
.content{font-family: 'RiaSans-ExtraBold';}
section {
   position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.top{
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    z-index: 3;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}
.theme{
    position: relative;
    left: 107px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'neurimboGothicRegular';
    opacity: 1;
    transition: opacity .1s ease, transform .1s ease;
}
.header2{
    opacity: 1;
    transition: opacity .1s ease, transform .1s ease;
}
.header2 img{
    width: 240px;
}
.menu{
    font-size: 30px;
    margin-bottom: 20px;
    color: #000;
}
.MENU ul{
    display: flex;
    flex-direction: column;
}
.MENU ul li a{
    text-decoration: none; 
    color: #000;
    line-height: 200%;
}
.bar{
    width: 100%;
    height: 150px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.bar img{
    width: 70px;
    height: 70px;
}
.side_menu{
    position: absolute;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    transition: .5s;
}
.side_menu ul{
    padding: 40px;
}
.side_menu ul li a{
    font-family: 'GmarketSansMedium';
    color: #444;
}
.menu{
    font-family: 'GmarketSansMedium';
    border-bottom: 1px solid #9b9b9b;
    text-align: center;
    margin-top: 30px;
}
.open{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
.open img{
    width: 70px;
}
.close{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    text-align: center;
    width: 100%;
    height: 150px;
}
.close img{
    position: relative;
    top: 40px;
}
section video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.content{
  position:absolute;
  left: 11%;
  z-index: 1;
  color: #fff;
  font-size: 3rem;
  width:100%;
  height: 100vh;
  padding-top: 150px;
}
.content_text{
   position: absolute;
   top: 180px;
   z-index: 1;
   width: 500px;
   right: 80px;
}
.content_text ul li a {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}
.content_text span{
    color: #fff;
    font-family: 'GmarketSansMedium';
}
.content_text ul li a:after {
    width: 0;
    height: 72px;
    background: #000;
    content: "";
    position: absolute;
    top: 14px;
    left: -8px;
    z-index: -1;
    overflow: hidden;
    transition: width 0.3s ease;
}
.content_text ul li a:hover:after {
    width: 450px;
}
.content_text ul li a span{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}

h1{
    font-family: 'GmarketSansMedium';
    position:absolute;
    top: 7%;
    left: 43%;
    z-index: 1;
    color: #fff;
    font-size: 3rem;
    width:100%;
    height: 100vh;
}

.part2{z-index: 1;}
.part1{z-index: 1;}
.part1 .aboutImg{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.part1 img{
    width:90%;
    margin-top: 130px;
    margin-left: 70px;
}
.part2 .skillImg{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.part2 img{
    width:90%;
    margin-top: 130px;
    margin-left: 70px;
}
.part3 img{
    position: absolute;
    top: 16%;
}



.mySwiper2{
    position: relative;
    top: 50px;
}
.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
}
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
/* 슬라이더 전체 높이 → 이미지 비율에 맞게 자동 */
.mySwiper2 {
  width: 100%;
  height: 70%;
}
.mySwiper2 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 이미지 원본 비율 유지 + 잘림 방지 */
.mySwiper2 .swiper-slide img {
  width: 100%;
  height: auto;   /* 높이 자동 */
  object-fit: contain;
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.mySwiper2 .swiper-button-next,
.mySwiper2 .swiper-button-prev {
  top: 63%; 
  transform: translateY(-50%); 
}

.uiux_folder {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:700px;
}
.uiux_folder .folder{
    width: 50%;
    text-align: center;
}
.folder img {
  width: 300px;
  height: 300px;
}
.folder h3{
    font-family: 'GmarketSansMedium';
    position: relative;
    top: -10%;
    left: 35%;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    gap: 8px; /* 점과 텍스트 사이 간격 */
}
.color1{
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.color2{
    background-color: orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.color3{
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.color4{
    background-color: blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }























@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barriecito&family=Bitcount+Prop+Single:wght@100..900&family=DM+Serif+Display:ital@0;1&family=Instrument+Serif:ital@0;1&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Michroma&family=Poiret+One&family=Rubik+Bubbles&family=Rubik+Glitch&display=swap');

@font-face {
    font-family: 'RiaSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neurimboGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}